.container {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template: "side content" /  auto 1fr;
    gap: 10px;

    & > * {
      padding: 8px;  
    }

    .side-menu {
        grid-area: side;
        border-right: 1px solid lightgray;
        box-shadow: 1px 1px 5px black;
    }
    
    .content {
        grid-area: content;
        height: 2000px;

        .top-bar {
            margin-bottom: 16px;
            display: block;
            position: sticky;
            top: 5px;
        }
    }
}